@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body {
	margin: 0;
	background-color: #EEEEEE;
	font-family: 'Roboto', sans-serif;
}

header {
	width: 100%;
	background-color: #FFFFFF;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
}

.sitename {
	height: 60px;
	display: inline-block;
	padding-left: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 24px;
	line-height: 60px;
}

.sitename a {
	color: #333333;
	text-decoration: none;
}

.sitename a:hover {
	color: #707070;
}

nav {
	display: inline-block;
	margin-top:-5px;
}

nav ul {
	list-style-type: none;
  padding-left: 0;
  margin: 0 0 0 10px;
}

nav ul li {
	display: inline-block;
	margin-left: 15px;
}

nav ul a {
	text-decoration: none;
	color: #0000EE;
}

nav ul a:hover {
	text-decoration: underline;
}

b {
	font-weight: 500;
}

.search {
	display: inline-block;
	float: right;
}

.search-input input {
	border: 0;
	height: 60px;
	padding: 0 16px;
	border-left: 1px solid #DDDDDD;
	border-right: 1px solid #DDDDDD;
	width: 100px;
}

@media only screen and (min-width: 700px) {
	.search-input input {
		width: 220px;
	}
}

@media only screen and (min-width: 1000px) {
	.search-input input {
		width: 320px;
	}
}

@media only screen and (min-width: 1300px) {
	.search-input input {
		width: 400px;
	}
}

.search-input input:focus {
	outline: none;
}

.search-input input:hover, .search-input input:focus {
	background-color: #F4F4F4;
}

.container {
	padding-left: 40px;
	padding-right: 40px;
}

@media only screen and (min-width: 700px) {
  .container {
    padding-left: 70px;
		padding-right: 70px;
  }
}

@media only screen and (min-width: 1000px) {
  .container {
    padding-left: 100px;
		padding-right: 100px;
  }
}

@media only screen and (min-width: 1300px) {
  .container {
    padding-left: 160px;
		padding-right: 160px;
  }
}

h1 {
	margin: 40px 0 24px;
	font-size: 30px;
	font-weight: 500;
}

.add-record {
	background-image: linear-gradient(to right, #1471ff, #3c6aff, #5763ff, #6d59ff, #824eff);
	display: inline-block;
	padding: 10px 15px;
	color: #FFFFFF;
	margin: 40px 0 24px;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.1);
	text-decoration: none;
}

.add-record:hover {
	background-image: linear-gradient(to right, #1263df, #355ee2, #4d57e3, #6150e3, #7446e2);
}

.box {
	display: block;
	background-color: #FFFFFF;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.1);
	padding: 20px 30px;
}

@media only screen and (min-width: 1300px) {
  .box {
		padding: 40px;
  }
}

.back-link {
	display: block;
	margin-bottom: 5px;
}

.error-msg {
	padding: 10px 14px;
	background-color: #FF6666;
	color: #FFFFFF;
}

table {
	width: 100%;
	border-collapse: collapse;
	background-color: #FFFFFF;
	box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.1);
}

td {
	border: 1px solid #E6E6E6;
}

th, tfoot td {
	border: 1px solid #999999;
}

thead, tfoot {
	background-image: linear-gradient(to right, #1471ff, #3c6aff, #5763ff, #6d59ff, #824eff);
	color: #FFFFFF;
}

thead th, tfoot td {
	padding-top: 14px;
	padding-bottom: 14px;
	text-align: center;
	font-weight: 500;
}

tbody tr:hover {
	background-color: #F4F4F4;
}

tbody td {
	padding: 10px;
	vertical-align: middle;
}

tbody td:last-child {
	width: 1px;
	white-space:nowrap;
}

tbody td:last-child a {
	text-decoration: none;
	color: #0000EE;
}

tbody td:last-child a:hover {
	text-decoration: underline;
}

.rating-num {
	display: inline-block;
}

.stars {
	height: 14px;
	width: 14px;
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
}

.star-1, .star0, .star1, .star2, .star3, .star4, .star5 {
background-image: url("img/fullstar.png");
}

@media only screen and (min-width: 1000px) {
  .rating-num {
		display: none;
  }

	.stars {
		width: 78px;
	}

	.star-1 {
		background-image: url("img/-1stars.png");
	}

	.star0 {
		background-image: url("img/0stars.png");
	}

	.star1 {
		background-image: url("img/1stars.png");
	}

	.star2 {
	background-image: url("img/2stars.png");
	}

	.star3 {
	background-image: url("img/3stars.png");
	}

	.star4 {
	background-image: url("img/4stars.png");
	}

	.star5 {
	background-image: url("img/5stars.png");
	}
}

.rating, .recommend {
	text-align: center;
}

.rating img {
	height: 14px;
	width: auto;
}

.recommend img {
	height: 14px;
	width: auto;
}

.form-reminder {
	font-size: 14px;
}

form {
	margin-top: 10px;
}

form label {
	display: block;
	margin-bottom: 5px;
}

form input[type=text], form select {
	display: block;
	padding: 5px 7px;
	height: 34px;
	margin-bottom: 20px;
	width: 200px;
	border: 1px solid #BBBBBB;
}

form input[type=text] {
	height: 22px;
	padding: 5px 10px;
	width: 180px;
}

form textarea {
	max-width: 100%;
	max-width: calc(100% - 14px);
	padding: 5px 7px;
	border: 1px solid #BBBBBB;
	margin-bottom: 20px;
}

form input[type=submit] {
		background-image: linear-gradient(to right, #1471ff, #3c6aff, #5763ff, #6d59ff, #824eff);
		display: inline-block;
		padding: 12px 20px;
		color: #FFFFFF;
		text-decoration: none;
		border: none;
		margin-top: 20px;
		cursor: pointer;
		font-weight: 500;
		font-size: 16px;
}

.rating-btn {
	margin-bottom: 20px;
}

.rating-btn img {
	height: 26px;
	width: auto;
	cursor: pointer;
}

footer {
	font-size: 14px;
	color: #999999;
	text-align: center;
	margin-top: 30px;
}
